.advantages__container {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.advantages__main-img-picture {
  position: absolute;
  width: 750px;
  height: 613px;
  left: 0;
  transform: translateX(calc(50% - 600px));
  flex-shrink: 0;
}

.advantages__right-side {
  margin-left: 600px;
  max-width: 700px;
}

.advantages__heading {
  position: relative;
  margin: 0;
  display: flex;
  max-width: 400px;
  flex-direction: column;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.advantages__heading::before {
  width: 50px;
  height: 0px;
  margin-bottom: 16px;
  border: 2px solid $yellow;
  background-color: $yellow;
  content: "";
}

.advantages__heading::after{
  position: absolute;
  display: inline-block;
  width: 275px;
  height: 152px;
  background-image: url(../img/bg_logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.advantages__text {
  margin: 0;
  margin-bottom: 30px;
}

.advantages__list {
  @include reset-list;
}

.advantages__item {
  display: flex;
  align-items: center;
  max-width: 620px;
  margin-bottom: 24px;
}

.advantages__item::before {
  display: block;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  mix-blend-mode: multiply;
  content: "";
}

.advantages__item-img-1::before {
  background-image: url("../img/icon-expert.png");
}

.advantages__item-img-2::before {
  background-image: url("../img/icon-treatment-blue.png");
}

.advantages__item-img-3::before {
  background-image: url("../img/icon-location.png");
}

.advantages__heading-wrapper {
  margin-left: 25px;
}

.advantages__item-heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 21px;
}

.advantages__item-text {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
}


@include breakpoint-down (1140px) {
  .advantages__main-img-picture {
    transform: translateX(calc(50% - 550px));
  }
  
  .advantages__main-img {
    height: 670px;
    object-fit: contain;
  }
  
  .advantages__right-side {
    margin-left: 430px;
    max-width: 700px;
  }
}

@include breakpoint-down (980px) {
  .advantages__main-img-picture {
    transform: translateX(calc(50% - 650px));
  }
  
  .advantages__right-side {
    margin-left: 320px;
  }
}

@include breakpoint-down (860px) {
  .advantages__container {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .advantages__main-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .advantages__main-img-picture {
    position: static;
    margin-bottom: 50px;
    transform: translateX(0);
  }
  
  .advantages__right-side {
    margin-left: 0;
  }
}

@include breakpoint-down (780px) {
  .advantages__main-img-picture {
    width: 100%;
    height: auto;
  }
}

@include breakpoint-down (560px) {
  
  .advantages__item {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .advantages__item-heading {
    margin: 0;
  }
  
  .advantages__item-text {
    display: none;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  
.advantages__item-img-1::before {
  background-image: url("../img/icon-expert@2x.png");
}

.advantages__item-img-2::before {
  background-image: url("../img/icon-treatment-blue@2x.png");
}

.advantages__item-img-3::before {
  background-image: url("../img/icon-location@2x.png");
}
}
