.appointment__container {
  display: flex;
  justify-content: center;
}

.appointment__list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.appointment__item {
  max-width: 300px;
  text-align: center;
  padding-top: 38px;
  padding-left: 36px;
  border-radius: 5px;
  padding-right: 36px;
  padding-bottom: 30px;
}

.appointment__item:nth-child(odd) {
  background-color: $yellow;
}

.appointment__item:nth-child(even) {
  background-color: $yellow-light;
}

.appointment__item::before {
  display: inline-block;
  width: 87px;
  height: 87px;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color:transparent;
  content: "";
}

.appointment__item-img-1::before{
  background-image: url(../img/icon-treatment.png);
}

.appointment__item-img-2::before{
  background-image: url(../img/icon-prosthetics.png);
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .appointment__item-img-1::before{
    background-image: url(../img/icon-treatment@2x.png);
  }
  
  .appointment__item-img-2::before{
    background-image: url(../img/icon-prosthetics@2x.png);
  }
}

.appointment__item-heading {
  margin: 0;
}

.appointment__item-text {
  font-weight: 300;
}

.appointment__form-list {
  width: 540px;
  margin-top: -60px;
  padding: 23px 32px 18px;
  background-color: $blue;
  border-radius: 5px;
  z-index: 1;
}

.appointment__form {
  display: flex;
  flex-direction: column;
}

.appointment__form-input {
  display: block;
  background-color: #0055B8;
  font-size: 15px;
  padding: 20px 10px;
  margin-bottom: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  
  &:focus {
    outline: none;
    background-color: #fff;
    color: $black;
  }
}

.appointment__form-input::placeholder {
 color: white;

 &:focus {
 color: black;
}
}

.appointment__form-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: white;
  margin: 0;
  margin-bottom: 29px;
}

.appointment__box-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 22px;
}

.appointment__box-text {
  max-width: 270px;
  font-weight: 300;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
}

.appointment__box-label {
  width: 35px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.appointment__box-check:checked ~ .appointment__box-label {
  background-image: url(../img/tick.png);
}


@include breakpoint-down (1024px) {
  .appointment__container {
    padding: 0;
  }
}

@include breakpoint-down (860px) {
  .appointment__list {
    display: none;
  }
  
  .appointment__form-list {
    margin-top: 0;
    width: 100%;
  }
}