.button {
  display: inline-block;
  padding: 25px 30px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  background-color: $blue;
  color: white;
  transition: opacity 0.2s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.button-blue {
  display: inline-block;
  padding: 25px 30px;
  border: none;
  text-decoration: none;
  border: 2px solid $blue;
  border-radius: 5px;
  background-color: white;
  color: $black;
  transition: opacity 0.2s ease,
  background-color 0.2s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $blue;
    color: white;
  }

  &:active {
    opacity: 0.6;
  }
}