.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.site-header__top {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__contact {
  display: flex;
  align-items: center;
  min-width: 195px;
}

.site-header__contact::before {
  display: inline-block;
  flex-shrink: 0;
  width: 29px;
  height: 29px;
  margin-right: 7px;
  background-image: url(../img/icon-phone.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.site-header__tel-wrapper {
  max-width: 120px;
}

.site-header__tel {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-header__tel-number {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-decoration: none;
  color: $black;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

// SITE-LOGO
.site-header__logo-wrapper {
  flex-shrink: 0;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

.site-header__logo {
  width: 103px;
  height: 56px;
}

// SITE-HOURS
.site-header__hours {
  display: flex;
  align-items: center;
}

.site-header__hours::before {
  display: inline-block;
  width: 29px;
  height: 29px;
  flex-shrink: 0;
  margin-right: 7px;
  background-image: url(../img/icon-clock.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.site-header__hours-wrapper {
  max-width: 165px;
}

.site-header__hours-status {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.site-header__hours-status {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #00B007;
}

.site-header__hours-info {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

// SITE-HEADER-BOTTOM
.site-header__bottom {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 18px;
  padding-left: 15px;
  margin-bottom: -40px;
  background-color: $blue;
  border-radius: 5px;
}

.site-header__logo-min-link,
.site-header__menu-togler {
  display: none;
}

.site-header__bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sitenav__list {
  @include reset-list;
  display: flex;
  align-items: center;
  max-width: 800px;
  flex-wrap: wrap;
}

.sitenav__item{
  margin: 0 17px;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

.sitenav__link {
  text-decoration: none;
  color: white;
}

// SOCIAL-MEDIA
.social-media__list {
  @include reset-list;
  display: flex;
  align-items: center;
  max-width: 200px;
  vertical-align: middle;
}

.social-media__item{
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
}

.social-media__item{
  margin-left: 6px;
  margin-right: 6px;
}

.social-media__img {
  vertical-align: middle;
  object-fit: cover;
}

@include breakpoint-down (1024px) {
  body {
    padding-top: 65px;
  }
  
  .site-header__container {
    padding: 0;
  }
  
  .site-header__top {
    display: none;
  }
  
  .site-header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-radius: 0;
  }
  
  .site-header__logo-min-link {
    display: block;
    flex-shrink: 0;
    margin-right: 5vw;
  }
  
  .social-media__list {
    margin-left: 10vw;
  }
}

@include breakpoint-down (950px) {
  // body {
  //   overflow: hidden;
  // }

  .site-header__bottom {
    position: relative;
  }
  
  .site-header__bottom {
    padding-left: 0;
  }
  
  .site-header__logo-min-link {
    padding-left: 15px;
  }
  
  .site-header__bottom-wrapper {
    position: absolute;
    overflow: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 100%;
    height: calc(100vh - 65px);
    width: 100%;
    background-color: $blue;
  }
  
  .site-header__sitenav {
    width: 100%;
  }
  
  .sitenav__list {
    display: block;
    text-align: center;
    max-width: 100%;
  }

  .sitenav__item {
    border: 1px solid #FFD600;
    margin: 0;
  }

  .sitenav__link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
  }

   .site-header__social-media {
    margin-top: auto;
    padding-top: 30px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  // Hamburger menu
  .site-header__menu-togler {
    display: block;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .site-header__menu-img {
    vertical-align: middle;
  }
}