.map {
  padding-top: 80px;
  padding-bottom: 65px;
}

.map__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.map__heading::before {
  width: 50px;
  height: 0px;
  margin-bottom: 16px;
  border: 2px solid $yellow;
  background-color: $yellow;
  content: "";
}

.map__text {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

// Location

.appointment__form-list--bottom {
  position: absolute;
  top: 50%;
  left: 15%;
}

@include breakpoint-down (1024px) {
  .map__container {
    padding: 0;
  }
  .appointment__form-list--bottom {
    top: 50%;
    left: 5%;
  }
}

@include breakpoint-down (950px) {
  .appointment__form-list--bottom {
    position: static;
  }

  .appointment__form-list--bottom {
    margin-top: 0;
    margin-bottom: 83px;
    width: 100%;
  }
}

@include breakpoint-down (860px) {

}

@include breakpoint-down (980px) {

}

@include breakpoint-down (860px) {

}

@include breakpoint-down (780px) {

}

@include breakpoint-down (560px) {

}