.quality {
  background-image: url("../../img/2doctor-child.jpg");
  background-repeat: no-repeat;
  background-size: 750px 600px;
  background-position: calc(50% + 500px) center;
}

.quality__container {
  display: flex;
  justify-content: space-between;
}

.quality__left-side {
  margin-right: 600px;
  max-width: 760px;
}

.quality__heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
  margin-bottom: 34px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.quality__heading::before {
  width: 50px;
  height: 0px;
  margin-bottom: 16px;
  border: 2px solid $yellow;
  background-color: $yellow;
  content: "";
}

.quality__text {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

.quality__bottom {
  display: flex;
  justify-content: flex-end;
}

.quality__signature {
  width: 85px;
  height: 75px;
  object-fit: contain;
  vertical-align: middle;
  mix-blend-mode: multiply;
  margin-right: 36px;
}

.quality__button-link {
  padding: 24px 85px;
}


@include breakpoint-down (1140px) {
  .quality__left-side {
    margin-right: 400px;
  }
}

@include breakpoint-down (1024px) {
  .quality {
    background-image: url("../../img/2doctor-child-1024px.jpg");
    background-repeat: no-repeat;
    background-size: 443px 600px;
    background-position: calc(50% + 300px) center;
  }
  
  .quality__left-side {
    margin-right: 400px;
    max-width: 485px;
  }
}

@include breakpoint-down (860px) {
  .quality {
    padding-top: 700px;
    background-image: url("../../img/2doctor-child-860px.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
  }

  .quality__left-side {
    margin-right: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@include breakpoint-down (780px) {

}

@include breakpoint-down (700px) {
  .quality {
    padding-top: 600px;
  }
}

@include breakpoint-down (600px) {
  .quality {
    padding-top: 500px;
  }
}

@include breakpoint-down (500px) {
  .quality {
    padding-top: 400px;
  }
  
.quality__button-link {
  padding: 24px 45px;
}
}

@include breakpoint-down (400px) {
  .quality {
    padding-top: 350px;
  }
}