.services {
  padding-top: 80px;
  padding-bottom: 65px;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__heading {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.services__heading::before {
  width: 50px;
  height: 0px;
  margin-bottom: 16px;
  border: 2px solid $yellow;
  background-color: $yellow;
  content: "";
}

.services__heading::after{
  position: absolute;
  display: inline-block;
  width: 275px;
  height: 152px;
  background-image: url(../img/bg_logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}


.services__text {
  margin: 0;
  margin-bottom: 40px;
}

// SERVICE-LIST
.services__list-wrapper {
  position: relative;
}

.services__list {
  max-width: 1000px;
  flex-wrap: nowrap;
  overflow: hidden;
  @include reset-list;
  display: flex;
  justify-content: flex-start;
  margin-left: -17px;
  margin-right: -17px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  margin-left: 17px;
  margin-right: 17px;
  padding-top: 29px;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 24px;
  background: #FFFFFF;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.services__item:first-of-type {
  margin-left: 0;
}

.services__item::before {
  display: block;
  width: 77px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.services__item-img-1::before {
  background-image: url("../img/icon-treatment-blue.png");
}

.services__item-img-2::before {
  background-image: url("../img/icon-hygiene.png");
}

.services__item-img-3::before {
  background-image: url("../img/icon-diagnostics.png");
}

.services__item-img-4::before,
.services__item-img-5::before {
  background-image: url("../img/icon-child-dentistry.png");
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  .services__item-img-1::before {
    background-image: url("../img/icon-treatment-blue@2x.png");
  }
  
  .services__item-img-2::before {
    background-image: url("../img/icon-hygiene@2x.png");
  }
  
  .services__item-img-3::before {
    background-image: url("../img/icon-diagnostics@2x.png");
  }
  
  .services__item-img-4::before,
  .services__item-img-5::before {
    background-image: url("../img/icon-child-dentistry@2x.png");
  }
}

.services__item-heading {
  padding-top: 14px;
  margin: 0;
  margin-bottom: 25px;
}


.services__item-old-price {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-top: auto;
  color: rgba(0, 0, 0, 0.25);
}


.services__item-old-price::after {
  position: absolute;
  display: block;
  width: 25px;
  height: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30px);
  margin-top: 12px;
  border: 2px solid $blue-text;
  background-color: $blue-text;
  content: "";
}

.services__item-new-price {
  font-weight: 500;
  line-height: 21px;
  color: $blue-text;
}

// ARROWS
.services_arrow-btn {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 49px;
  top: 50%;
  border: 2px solid #1D6ECB;
  border-radius: 5px;
  transition: opacity 0.2s ease;
  
  &:hover {
    opacity: 0.8;
  }
  
  &:active {
    opacity: 0.6;
  }
  
  &:focus {
    outline: none;
  }
}

.services_arrow-prev {
  left: 0;
  transform: translate(-75px, -50%);
}

.services_arrow-prev-img {
  width: 12px;
  height: 19px;
  vertical-align: middle;
}

.services_arrow-next {
  right: 0;
  transform: translate(75px, -50%);
}

.services_arrow-next-img {
  transform: rotate(180deg);
  width: 12px;
  height: 19px;
  vertical-align: middle;
}

@include breakpoint-down (1024px){
  .services__list {
    max-width: 800px;
  }
}

@include breakpoint-down (950px){
  .services__list {
    max-width: 650px;
  }
}

@include breakpoint-down (768px){
  .services__list {
    max-width: 550px;
    overflow: auto;
    
  }
  
  .services_arrows {
    display: none;
  }
}

@include breakpoint-down (560px){
  .services__list {
    max-width: 375px;
  }
}

@include breakpoint-down (375px){
  .services__list {
    max-width: 300px;
  }
}